<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Server5.Service1">
                <endpoint address="http" binding="basicHttpBinding" name="http" contract="Server5.IService1">
                </endpoint>
                <endpoint address="tcp" binding="netTcpBinding" name="tcp" contract="Server5.IService1">
                </endpoint>
                <endpoint address="mexhttp" binding="mexHttpBinding" contract="IMetadataExchange" />
              <endpoint address="mextcp" binding="mexTcpBinding" contract="IMetadataExchange"/>
              <host>
                    <baseAddresses>
                      <add baseAddress="http://localhost:8733/Design_Time_Addresses/Server5/Service1/" />
                      <add baseAddress="net.tcp://localhost:8734/Design_Time_Addresses/Server5/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>